## Air Quailty Analysis Practice

In [2]:
### Install packages
import pandas as pd

### Load and setup data
air_data = pd.read_csv('AirQuality_Daily_StudentVersion.csv')
air_data = pd.DataFrame(air_data)
air_data.head(1)

,date,monitor_index,humidity,pressure,temperature,voc,analog_input,pm2.5_alt,pm1.0_atm,pm2.5_atm,pm10.0_atm,sensor.latitude,sensor.longitude,sensor.altitude,sensor.name
0,02/23/24,195089,14.377667,912.884333,62.266667,51.998667,0.051333,0.1,0.0,0.0025,0.039667,40.050922,-101.53357,3005,Swnphd-Benklemen

### Part 1

In [15]:
air_data_filtered = air_data[(air_data['pm2.5_atm']>=5)]
air_data_filtered

,date,monitor_index,humidity,pressure,temperature,voc,analog_input,pm2.5_alt,pm1.0_atm,pm2.5_atm,pm10.0_atm,sensor.latitude,sensor.longitude,sensor.altitude,sensor.name
20,02/29/24,195365,20.251458,925.426917,52.828500,81.629750,0.000000,18.683333,19.920479,28.601292,35.032208,40.200330,-100.639885,2576,Swnphd-mccook
22,03/01/24,195089,29.860375,905.012625,55.290583,79.580458,0.053417,8.216667,11.810042,15.402458,17.008104,40.050922,-101.533570,3005,Swnphd-Benklemen
24,03/01/24,195333,16.080667,923.753333,73.311333,82.911000,0.010000,4.200000,5.483167,6.878667,7.666167,40.780205,-99.740486,2392,TRPHD Dawson Co. Courthouse 25
25,03/01/24,195365,33.206708,919.613875,56.390292,65.596333,0.000000,11.316667,15.229479,21.617083,25.319500,40.200330,-100.639885,2576,Swnphd-mccook
26,03/01/24,195383,10.923750,929.638750,84.341750,65.896500,0.050000,4.425000,5.473375,7.385125,9.250750,41.779380,-99.138040,2174,Loup Basin Public Health Department
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8291,03/24/25,195349,27.372333,973.522667,61.422125,516.558667,0.020000,6.920833,1692.075125,1692.498333,1692.793896,40.368360,-96.196014,1143,#18 - Southeast District Health Department- Te...
8293,03/24/25,195361,31.054250,942.125625,55.523708,427.780083,0.040000,1.029167,1714.103313,1714.236813,1714.360500,42.457850,-98.646736,1990,NCDHD O'Neill #11
8294,03/24/25,195362,30.698708,926.723667,54.733417,426.716375,0.000000,0.995833,1713.678000,1713.840375,1713.964083,41.396297,-99.645035,2582,Broken Bow
8295,03/24/25,195365,0.000000,917.259000,41.000000,0.000000,0.000000,0.475000,563.214896,563.337313,564.363833,40.200330,-100.639885,2576,Swnphd-mccook
8297,03/24/25,195379,28.043545,954.294546,66.009182,301.074800,0.000000,0.800000,5.625545,5.873364,6.056773,40.877007,-97.579445,1639,FCHD-YPS

## Part 2

In [4]:
air_data_pm10_filtered = air_data[air_data['pm10.0_atm']<6]
air_data_pm10_filtered

,date,monitor_index,humidity,pressure,temperature,voc,analog_input,pm2.5_alt,pm1.0_atm,pm2.5_atm,pm10.0_atm,sensor.latitude,sensor.longitude,sensor.altitude,sensor.name
0,02/23/24,195089,14.377667,912.884333,62.266667,51.998667,0.051333,0.100000,0.000000,0.002500,0.039667,40.050922,-101.533570,3005,Swnphd-Benklemen
1,02/23/24,195365,12.223600,926.403000,71.193400,64.920800,0.000000,0.180000,0.004800,0.020000,0.176000,40.200330,-100.639885,2576,Swnphd-mccook
2,02/23/24,195541,20.095750,905.670750,61.008250,68.307000,0.020000,0.162500,0.004125,0.014812,0.063937,41.128284,-101.720220,3220,Swnphd-ogallala
3,02/24/24,195089,25.368000,911.708833,51.462458,91.176750,0.052667,0.437500,0.099542,0.170667,0.355208,40.050922,-101.533570,3005,Swnphd-Benklemen
4,02/24/24,195365,23.703083,925.282125,56.818208,107.863708,0.000000,0.475000,0.099208,0.231687,0.548583,40.200330,-100.639885,2576,Swnphd-mccook
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8292,03/24/25,195355,23.026625,887.189417,56.990250,375.173333,0.009917,0.858333,0.611604,1.066354,1.498104,41.569260,-101.689420,3661,WCDHD Arthur High School 28
8296,03/24/25,195373,23.636208,915.998292,61.489083,421.493750,0.020000,0.762500,0.486583,0.830021,1.416125,41.148170,-100.761800,2800,WCDHD City Building
8298,03/24/25,195383,31.451375,936.556583,55.752792,353.478000,0.050000,0.575000,0.267500,0.478375,0.818146,41.779380,-99.138040,2174,Loup Basin Public Health Department
8299,03/24/25,195385,NaN,NaN,NaN,NaN,0.010000,0.970833,0.739500,1.088604,1.340563,40.019714,-98.071840,1597,South Heartland District Health Dept. Superior...
8300,03/24/25,195541,20.494500,901.484750,61.222167,485.556417,0.020000,0.554167,0.132083,0.340417,0.737375,41.128284,-101.720220,3220,Swnphd-ogallala

## Part 4

In [10]:
air_data_monitor_group = air_data.groupby(['monitor_index']).size()
air_data_monitor_group

monitor_index
194969    284
195089    388
195091    357
195103    172
195315    367
195317    318
195319    377
195327    202
195329    371
195331    147
195333    387
195339    302
195341    348
195343    171
195345    359
195347    368
195349    183
195355    320
195361    226
195362    368
195365    390
195367    377
195373    103
195379    365
195383    389
195385    286
195541    376
dtype: int64