## Welcome to CIVE 202

This is our first Lab and this is our first Jupyter Notebook.  Today we'll be exploring how Jupyter Notebooks work, how to load in data to Jupyter Notebooks, and how to look at the data to verify the data has loaded correctly.

### Step 1: Set up your notebook

Every notebook should start with loading in the relevant packages that have useful functions you plan to use in your code.  This helps organize your code and ensure that you have all the functions you need before you dive into data analysis.  Let's load in some of the key packages necessary for CIVE 202 in the Code Cell below.

In [1]:
#### Show you have imported the pandas package in the space below
import pandas as pd

Next, set your working directory. This is the location where all of your data files and Python coding files "live" for any project so that the computer understands what files to reference. In Jupyter Notebooks your working directory is the folder where your working notebook (this notebook) lives.  Any data files that you want to upload to your notebook must be in your working directory in order for them to interface with Jupyter Notebooks.

### Step 2: Load in all relevant datasets and verify proper loading

Next, read in the data file you want to use in your data analysis. Use the `pd.read_csv()` function from the pandas library to read in your CSV. IMPORTANT: Reading in CSVs is better than Excel. Why? CSVs do not have complicated formatting that Python will try to interpret.

In [2]:
###Show you have imported the Air Quality data as a CSV and assigned it to a variable
#inserting data
air_data = pd.read_csv("AirQuality_Daily_StudentVersion.csv")

We may also want to make sure that the new data set we imported is a dataframe.  Dataframes are a type of data structure in Python where each column is interpreted as a different variable that can then be manipulated.  If we want to coerce a data set into a data frame, we can use the following syntax.  Note that this syntax overwrites the `air_data` we created above!  Also, the `pd.` before the function tells Python that this function comes from the pandas package.

In [3]:
### Show you have changed your variable above into a dataframe
air_data = pd.DataFrame(air_data)

Next, we can use the print function to examine what types of data are present in our CSV. This gives us a chance to examine what types of data are present and what variables we will be able to manipulate.

In [4]:
### Print your dataframe in this space
print(air_data)

          date  monitor_index   humidity    pressure  temperature         voc  \
0     02/23/24         195089  14.377667  912.884333    62.266667   51.998667
1     02/23/24         195365  12.223600  926.403000    71.193400   64.920800
2     02/23/24         195541  20.095750  905.670750    61.008250   68.307000
3     02/24/24         195089  25.368000  911.708833    51.462458   91.176750
4     02/24/24         195365  23.703083  925.282125    56.818208  107.863708
...        ...            ...        ...         ...          ...         ...
8296  03/24/25         195373  23.636208  915.998292    61.489083  421.493750
8297  03/24/25         195379  28.043545  954.294546    66.009182  301.074800
8298  03/24/25         195383  31.451375  936.556583    55.752792  353.478000
8299  03/24/25         195385        NaN         NaN          NaN         NaN
8300  03/24/25         195541  20.494500  901.484750    61.222167  485.556417

      analog_input  pm2.5_alt  pm1.0_atm  pm2.5_atm  pm10.0_atm  \
0         0.051333   0.100000   0.000000   0.002500    0.039667
1         0.000000   0.180000   0.004800   0.020000    0.176000
2         0.020000   0.162500   0.004125   0.014812    0.063937
3         0.052667   0.437500   0.099542   0.170667    0.355208
4         0.000000   0.475000   0.099208   0.231687    0.548583
...            ...        ...        ...        ...         ...
8296      0.020000   0.762500   0.486583   0.830021    1.416125
8297      0.000000   0.800000   5.625545   5.873364    6.056773
8298      0.050000   0.575000   0.267500   0.478375    0.818146
8299      0.010000   0.970833   0.739500   1.088604    1.340563
8300      0.020000   0.554167   0.132083   0.340417    0.737375

      sensor.latitude  sensor.longitude  sensor.altitude  \
0           40.050922       -101.533570             3005
1           40.200330       -100.639885             2576
2           41.128284       -101.720220             3220
3           40.050922       -101.533570             3005
4           40.200330       -100.639885             2576
...               ...               ...              ...
8296        41.148170       -100.761800             2800
8297        40.877007        -97.579445             1639
8298        41.779380        -99.138040             2174
8299        40.019714        -98.071840             1597
8300        41.128284       -101.720220             3220

                                            sensor.name
0                                      Swnphd-Benklemen
1                                         Swnphd-mccook
2                                       Swnphd-ogallala
3                                      Swnphd-Benklemen
4                                         Swnphd-mccook
...                                                 ...
8296                                WCDHD City Building
8297                                           FCHD-YPS
8298                Loup Basin Public Health Department
8299  South Heartland District Health Dept. Superior...
8300                                    Swnphd-ogallala

[8301 rows x 15 columns]

There are three other ways we can check our dataframe:
1. Print out the column names by using `.column`s with the dataframe.
2. Print out the first 5-10 rows using `.head()`
3. Print out the last 5-10 rows using `.tail()`

In [9]:
# Show the names of the columns in the dataframe
air_data.columns

Index(['date', 'monitor_index', 'humidity', 'pressure', 'temperature', 'voc',
       'analog_input', 'pm2.5_alt', 'pm1.0_atm', 'pm2.5_atm', 'pm10.0_atm',
       'sensor.latitude', 'sensor.longitude', 'sensor.altitude',
       'sensor.name'],
      dtype='object')

In [10]:
#Show the first 5 rows of a dataframe
air_data.head(5)

,date,monitor_index,humidity,pressure,temperature,voc,analog_input,pm2.5_alt,pm1.0_atm,pm2.5_atm,pm10.0_atm,sensor.latitude,sensor.longitude,sensor.altitude,sensor.name
0,02/23/24,195089,14.377667,912.884333,62.266667,51.998667,0.051333,0.1000,0.000000,0.002500,0.039667,40.050922,-101.533570,3005,Swnphd-Benklemen
1,02/23/24,195365,12.223600,926.403000,71.193400,64.920800,0.000000,0.1800,0.004800,0.020000,0.176000,40.200330,-100.639885,2576,Swnphd-mccook
2,02/23/24,195541,20.095750,905.670750,61.008250,68.307000,0.020000,0.1625,0.004125,0.014812,0.063937,41.128284,-101.720220,3220,Swnphd-ogallala
3,02/24/24,195089,25.368000,911.708833,51.462458,91.176750,0.052667,0.4375,0.099542,0.170667,0.355208,40.050922,-101.533570,3005,Swnphd-Benklemen
4,02/24/24,195365,23.703083,925.282125,56.818208,107.863708,0.000000,0.4750,0.099208,0.231687,0.548583,40.200330,-100.639885,2576,Swnphd-mccook

In [11]:
# Show the last 20 rows of a dataframe
air_data.tail(20)

,date,monitor_index,humidity,pressure,temperature,voc,analog_input,pm2.5_alt,pm1.0_atm,pm2.5_atm,pm10.0_atm,sensor.latitude,sensor.longitude,sensor.altitude,sensor.name
8281,03/24/25,195089,21.299167,910.040708,61.680208,549.846333,0.052458,0.583333,0.244083,0.341854,0.878208,40.050922,-101.533570,3005,Swnphd-Benklemen
8282,03/24/25,195315,24.323375,944.182500,62.832250,526.051542,0.040000,0.504167,0.173042,0.304042,0.485125,40.100227,-99.363140,1984,TRPHD Harlan Co. Courthouse 24
8283,03/24/25,195319,25.279750,945.749625,63.653542,430.710875,0.000000,0.791667,0.545833,0.758458,0.934937,40.589070,-98.383190,1920,South Heartland District Health Dept. Hastings...
8284,03/24/25,195329,28.407000,948.581167,56.805667,457.355333,0.020000,1.758333,1.477854,2.353625,2.847750,42.911533,-98.847984,1810,Lower Niobrara NRD Butte 10
8285,03/24/25,195331,29.627708,913.814542,54.767708,231.104625,0.010000,0.416667,0.105479,0.283062,0.663042,41.978104,-100.573330,2850,WCDHD Thedford Library 29
8286,03/24/25,195333,27.620708,929.205333,59.863083,84.715292,0.010000,0.879167,0.819021,1.106833,1.425292,40.780205,-99.740486,2392,TRPHD Dawson Co. Courthouse 25
8287,03/24/25,195339,23.479333,976.883583,63.411125,325.695708,0.000000,2.583333,2.262396,3.354563,4.164375,40.676200,-95.858300,1055,#17 - Otoe County
8288,03/24/25,195341,NaN,NaN,NaN,NaN,0.000000,0.779167,0.385271,0.597833,0.948333,40.156180,-97.175354,1438,PHS Fairbury JCHL 13
8289,03/24/25,195345,26.297905,938.200524,62.416714,116.681905,0.040000,0.738095,0.371071,0.641881,0.977310,40.684696,-99.089070,2147,Buffalo County TRPHD #26
8290,03/24/25,195347,25.752833,924.160708,57.254250,373.617792,0.087000,4.450000,3.273042,3.796167,4.433500,42.547630,-99.856430,2519,Ainsworth Public School #9
8291,03/24/25,195349,27.372333,973.522667,61.422125,516.558667,0.020000,6.920833,1692.075125,1692.498333,1692.793896,40.368360,-96.196014,1143,#18 - Southeast District Health Department- Te...
8292,03/24/25,195355,23.026625,887.189417,56.990250,375.173333,0.009917,0.858333,0.611604,1.066354,1.498104,41.569260,-101.689420,3661,WCDHD Arthur High School 28
8293,03/24/25,195361,31.054250,942.125625,55.523708,427.780083,0.040000,1.029167,1714.103313,1714.236813,1714.360500,42.457850,-98.646736,1990,NCDHD O'Neill #11
8294,03/24/25,195362,30.698708,926.723667,54.733417,426.716375,0.000000,0.995833,1713.678000,1713.840375,1713.964083,41.396297,-99.645035,2582,Broken Bow
8295,03/24/25,195365,0.000000,917.259000,41.000000,0.000000,0.000000,0.475000,563.214896,563.337313,564.363833,40.200330,-100.639885,2576,Swnphd-mccook
8296,03/24/25,195373,23.636208,915.998292,61.489083,421.493750,0.020000,0.762500,0.486583,0.830021,1.416125,41.148170,-100.761800,2800,WCDHD City Building
8297,03/24/25,195379,28.043545,954.294546,66.009182,301.074800,0.000000,0.800000,5.625545,5.873364,6.056773,40.877007,-97.579445,1639,FCHD-YPS
8298,03/24/25,195383,31.451375,936.556583,55.752792,353.478000,0.050000,0.575000,0.267500,0.478375,0.818146,41.779380,-99.138040,2174,Loup Basin Public Health Department
8299,03/24/25,195385,NaN,NaN,NaN,NaN,0.010000,0.970833,0.739500,1.088604,1.340563,40.019714,-98.071840,1597,South Heartland District Health Dept. Superior...
8300,03/24/25,195541,20.494500,901.484750,61.222167,485.556417,0.020000,0.554167,0.132083,0.340417,0.737375,41.128284,-101.720220,3220,Swnphd-ogallala