## Project #1, Lab 3 - Creating and Applying Conditional variables, Sorting values, Handling Dates

Make sure to load necessary packages and your datasets first!

In [1]:
import pandas as pd

In [2]:
## Load data
air_data = pd.read_csv('AirQuality_daily_StudentVersion.csv')

## Turn data into a dataframe
air_data = pd.DataFrame(air_data)

## View data
air_data.head(1)

,date,monitor_index,humidity,pressure,temperature,voc,analog_input,pm2.5_alt,pm1.0_atm,pm2.5_atm,pm10.0_atm,sensor.latitude,sensor.longitude,sensor.altitude,sensor.name
0,02/23/24,195089,14.377667,912.884333,62.266667,51.998667,0.051333,0.1,0.0,0.0025,0.039667,40.050922,-101.53357,3005,Swnphd-Benklemen

## Note from Previous Lab

In [3]:
# pm2.5 + pm10.0
stat_summary = air_data.groupby('sensor.name').agg({
    'pm2.5_atm': ['max','min','mean','median'],
    'pm10.0_atm': ['max','min','mean','median']
})
#stat_summary

#Pivot table
pivot_stats = pd.pivot_table(
    air_data,
    index = 'sensor.name',
    values = ['pm2.5_atm','pm1.0_atm'],
    aggfunc = ['max','min','mean','median']
)
pivot_stats

                                                            max               \
                                                      pm1.0_atm    pm2.5_atm
sensor.name
#16 - Richardson County Courthouse                  3781.691896  3782.823313
#17 - Otoe County                                     24.528437    37.250062
#18 - Southeast District Health Department- Tec...  2986.602000  2987.467563
Ainsworth Public School #9                            30.360625    43.320062
Broken Bow                                          3204.808875  3205.868854
Buffalo County TRPHD #26                              48.626750    42.225333
ELVPHD Norfolk HD 4                                   69.933083    79.972917
ELVPHD Tekamah HD 3                                   30.595896    45.881250
ELVPHD Wisner HD 5                                    33.622292    51.984812
FCHD-YPS                                             362.307083   363.201104
Laurel High School                                    26.346937    38.736938
Loup Basin Public Health Department                  229.848167   230.482438
Lower Niobrara NRD Butte 10                           29.775833    45.030938
NCDHD O'Neill #11                                   2077.920417  2078.873729
PHS Fairbury JCHL 13                                  34.278979    52.773958
SWNPHD-Imerial                                        33.691125    49.004625
South Heartland District Health Dept. Hastings ...    32.548021    47.330646
South Heartland District Health Dept. Superior ...    27.929417    40.539417
Swnphd-Benklemen                                     187.669333   188.156771
Swnphd-mccook                                       3052.212354  3053.114292
Swnphd-ogallala                                     1318.995271  1320.155667
TRPHD Dawson Co. Courthouse 25                      2360.803750  2363.017646
TRPHD Harlan Co. Courthouse 24                        28.022625    42.725625
Three Rivers Public Health Department                 34.684083    51.491208
WCDHD Arthur High School 28                           31.336646    46.354292
WCDHD City Building                                   21.205813    32.589521
WCDHD Thedford Library 29                             22.683312    36.138729

                                                         min            \
                                                   pm1.0_atm pm2.5_atm
sensor.name
#16 - Richardson County Courthouse                  0.126104  0.243729
#17 - Otoe County                                   0.000000  0.000000
#18 - Southeast District Health Department- Tec...  0.041479  0.140708
Ainsworth Public School #9                          0.019396  0.089375
Broken Bow                                          0.004938  0.019187
Buffalo County TRPHD #26                            0.000771  0.005896
ELVPHD Norfolk HD 4                                 0.080167  0.307896
ELVPHD Tekamah HD 3                                 0.027938  0.104938
ELVPHD Wisner HD 5                                  0.027312  0.154271
FCHD-YPS                                            0.003708  0.013125
Laurel High School                                  0.018687  0.080250
Loup Basin Public Health Department                 0.006063  0.034708
Lower Niobrara NRD Butte 10                         0.010958  0.082437
NCDHD O'Neill #11                                   0.026750  0.136958
PHS Fairbury JCHL 13                                0.012104  0.045604
SWNPHD-Imerial                                      0.000208  0.001313
South Heartland District Health Dept. Hastings ...  0.017063  0.063292
South Heartland District Health Dept. Superior ...  0.024979  0.043271
Swnphd-Benklemen                                    0.000000  0.002500
Swnphd-mccook                                       0.001864  0.020000
Swnphd-ogallala                                     0.000646  0.004188
TRPHD Dawson Co. Courthouse 25                      0.007646  0.033188
TRPHD Harlan Co. Courthouse 24                      0.002792  0.009542
Three Rivers Public Health Department               0.050917  0.171833
WCDHD Arthur High School 28                         0.005583  0.024729
WCDHD City Building                                 0.007271  0.031354
WCDHD Thedford Library 29                           0.001643  0.028396

                                                          mean              \
                                                     pm1.0_atm   pm2.5_atm
sensor.name
#16 - Richardson County Courthouse                  697.974396  700.127342
#17 - Otoe County                                     6.934271    9.755345
#18 - Southeast District Health Department- Tec...  611.272977  613.175352
Ainsworth Public School #9                            8.276668   10.697058
Broken Bow                                          926.858851  928.710593
Buffalo County TRPHD #26                              6.301005    8.479442
ELVPHD Norfolk HD 4                                   9.756598   13.369492
ELVPHD Tekamah HD 3                                   7.008133    9.482822
ELVPHD Wisner HD 5                                    7.899558   11.154420
FCHD-YPS                                              6.443048    9.167842
Laurel High School                                    6.486103    8.635639
Loup Basin Public Health Department                   6.149958    8.561095
Lower Niobrara NRD Butte 10                           5.558960    8.041274
NCDHD O'Neill #11                                   162.255661  164.495078
PHS Fairbury JCHL 13                                  6.787646    9.405360
SWNPHD-Imerial                                        4.583798    6.329091
South Heartland District Health Dept. Hastings ...    6.688503    8.915233
South Heartland District Health Dept. Superior ...    6.651273    8.851045
Swnphd-Benklemen                                      5.710176    7.501374
Swnphd-mccook                                       121.352002  123.011622
Swnphd-ogallala                                       8.558049   10.396579
TRPHD Dawson Co. Courthouse 25                       15.612156   18.080629
TRPHD Harlan Co. Courthouse 24                        5.722990    7.927510
Three Rivers Public Health Department                 7.154633    9.601760
WCDHD Arthur High School 28                           4.935597    6.658474
WCDHD City Building                                   2.791608    3.971512
WCDHD Thedford Library 29                             4.123588    6.219710

                                                       median
                                                    pm1.0_atm  pm2.5_atm
sensor.name
#16 - Richardson County Courthouse                   9.595375  11.977344
#17 - Otoe County                                    5.723365   7.687563
#18 - Southeast District Health Department- Tec...   8.070708  10.322875
Ainsworth Public School #9                           6.669469   8.389740
Broken Bow                                          25.237490  36.050240
Buffalo County TRPHD #26                             4.361375   5.698500
ELVPHD Norfolk HD 4                                  7.024604   9.706229
ELVPHD Tekamah HD 3                                  5.021740   6.418302
ELVPHD Wisner HD 5                                   6.174333   8.464583
FCHD-YPS                                             3.897021   5.838188
Laurel High School                                   4.013687   5.312083
Loup Basin Public Health Department                  3.614667   5.213938
Lower Niobrara NRD Butte 10                          4.008167   5.691250
NCDHD O'Neill #11                                    5.487177   7.251208
PHS Fairbury JCHL 13                                 4.988729   6.714948
SWNPHD-Imerial                                       2.411396   3.338094
South Heartland District Health Dept. Hastings ...   5.037438   6.251146
South Heartland District Health Dept. Superior ...   5.281969   6.844604
Swnphd-Benklemen                                     3.300198   4.215375
Swnphd-mccook                                        3.611021   4.582281
Swnphd-ogallala                                      2.576031   3.518510
TRPHD Dawson Co. Courthouse 25                       4.409354   5.776813
TRPHD Harlan Co. Courthouse 24                       4.074167   5.329063
Three Rivers Public Health Department                5.279604   6.860375
WCDHD Arthur High School 28                          2.854854   3.921687
WCDHD City Building                                  1.929542   2.830708
WCDHD Thedford Library 29                            2.024792   3.288542

### Creating Categories

One thing we may want to do with our code is to create categories based on a variable. For example, our temperature data in this data set is numerical, but the UNMC Group has defined temperature categories. We may want to create a new column that "looks" at the temperature column and then assigns a category to each temperature in a new column.  Every function starts with `def`.  Then the blue text after `def` is the name of your function.  Your function takes `arguments`, variables that can be inputed to the function. Don't forget to put `:` after your arguments so that Python knows to indent!  Then we use a series of `elif` statements to define what happens to the variable when it is put into the function.

In [21]:
### Sample temperature function

def assignTemperature (temperature):
    if temperature < 32:
        return 'Below Freezing'
    elif temperature <= 50:
        return 'Cool'
    elif temperature <= 70:
        return 'Warm'
    else:
        return 'Hot'

Now that we have the function, we need to `apply` that function to our data. If we have a created a function, it doesn't mean this function has been used yet, its just defined in what we call the 'global environment'.  To make sure our function is applied to our data our steps are as follows:
1. Make sure we `apply` the function to the column we want to be manipulated
2. Assign the new column we create to a column name inside our original dataset

In [23]:
## Apply your function to the temperature column in your air_data
air_data['temperature_level'] = air_data['temperature'].apply(assignTemperature)
air_data

,date,monitor_index,humidity,pressure,temperature,voc,analog_input,pm2.5_alt,pm1.0_atm,pm2.5_atm,pm10.0_atm,sensor.latitude,sensor.longitude,sensor.altitude,sensor.name,temperature_level
0,02/23/24,195089,14.377667,912.884333,62.266667,51.998667,0.051333,0.100000,0.000000,0.002500,0.039667,40.050922,-101.533570,3005,Swnphd-Benklemen,Warm
1,02/23/24,195365,12.223600,926.403000,71.193400,64.920800,0.000000,0.180000,0.004800,0.020000,0.176000,40.200330,-100.639885,2576,Swnphd-mccook,Hot
2,02/23/24,195541,20.095750,905.670750,61.008250,68.307000,0.020000,0.162500,0.004125,0.014812,0.063937,41.128284,-101.720220,3220,Swnphd-ogallala,Warm
3,02/24/24,195089,25.368000,911.708833,51.462458,91.176750,0.052667,0.437500,0.099542,0.170667,0.355208,40.050922,-101.533570,3005,Swnphd-Benklemen,Warm
4,02/24/24,195365,23.703083,925.282125,56.818208,107.863708,0.000000,0.475000,0.099208,0.231687,0.548583,40.200330,-100.639885,2576,Swnphd-mccook,Warm
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8296,03/24/25,195373,23.636208,915.998292,61.489083,421.493750,0.020000,0.762500,0.486583,0.830021,1.416125,41.148170,-100.761800,2800,WCDHD City Building,Warm
8297,03/24/25,195379,28.043545,954.294546,66.009182,301.074800,0.000000,0.800000,5.625545,5.873364,6.056773,40.877007,-97.579445,1639,FCHD-YPS,Warm
8298,03/24/25,195383,31.451375,936.556583,55.752792,353.478000,0.050000,0.575000,0.267500,0.478375,0.818146,41.779380,-99.138040,2174,Loup Basin Public Health Department,Warm
8299,03/24/25,195385,NaN,NaN,NaN,NaN,0.010000,0.970833,0.739500,1.088604,1.340563,40.019714,-98.071840,1597,South Heartland District Health Dept. Superior...,Hot
8300,03/24/25,195541,20.494500,901.484750,61.222167,485.556417,0.020000,0.554167,0.132083,0.340417,0.737375,41.128284,-101.720220,3220,Swnphd-ogallala,Warm

#### Lab Activity #1: Create a function for altitude levels
Create a function that assigns three different levels to altitude: Low, Medium and High.  You can choose what values to set as your conditions in this function.

In [26]:
### Enter your response to Lab Activity #1 in the space below:

def assignAltitude(altitude):
    if altitude<1000:
        return 'Low'
    elif altitude<2500:
        return 'Medium'
    else:
        return 'High'

air_data['altitude_level'] = air_data['sensor.altitude'].apply(assignAltitude)
air_data

,date,monitor_index,humidity,pressure,temperature,voc,analog_input,pm2.5_alt,pm1.0_atm,pm2.5_atm,pm10.0_atm,sensor.latitude,sensor.longitude,sensor.altitude,sensor.name,temperature_level,altitude_level
0,02/23/24,195089,14.377667,912.884333,62.266667,51.998667,0.051333,0.100000,0.000000,0.002500,0.039667,40.050922,-101.533570,3005,Swnphd-Benklemen,Warm,High
1,02/23/24,195365,12.223600,926.403000,71.193400,64.920800,0.000000,0.180000,0.004800,0.020000,0.176000,40.200330,-100.639885,2576,Swnphd-mccook,Hot,High
2,02/23/24,195541,20.095750,905.670750,61.008250,68.307000,0.020000,0.162500,0.004125,0.014812,0.063937,41.128284,-101.720220,3220,Swnphd-ogallala,Warm,High
3,02/24/24,195089,25.368000,911.708833,51.462458,91.176750,0.052667,0.437500,0.099542,0.170667,0.355208,40.050922,-101.533570,3005,Swnphd-Benklemen,Warm,High
4,02/24/24,195365,23.703083,925.282125,56.818208,107.863708,0.000000,0.475000,0.099208,0.231687,0.548583,40.200330,-100.639885,2576,Swnphd-mccook,Warm,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8296,03/24/25,195373,23.636208,915.998292,61.489083,421.493750,0.020000,0.762500,0.486583,0.830021,1.416125,41.148170,-100.761800,2800,WCDHD City Building,Warm,High
8297,03/24/25,195379,28.043545,954.294546,66.009182,301.074800,0.000000,0.800000,5.625545,5.873364,6.056773,40.877007,-97.579445,1639,FCHD-YPS,Warm,Medium
8298,03/24/25,195383,31.451375,936.556583,55.752792,353.478000,0.050000,0.575000,0.267500,0.478375,0.818146,41.779380,-99.138040,2174,Loup Basin Public Health Department,Warm,Medium
8299,03/24/25,195385,NaN,NaN,NaN,NaN,0.010000,0.970833,0.739500,1.088604,1.340563,40.019714,-98.071840,1597,South Heartland District Health Dept. Superior...,Hot,Medium
8300,03/24/25,195541,20.494500,901.484750,61.222167,485.556417,0.020000,0.554167,0.132083,0.340417,0.737375,41.128284,-101.720220,3220,Swnphd-ogallala,Warm,High

### Sorting our data

Let's start by reminding ourselves how to aggregate data.  Let's calculate the max, min, mean, and median of the `pm_2.5` values and name this new data set something besides `air_data`

In [31]:
## Group your data
grouped_name_air_data = air_data.groupby('sensor.name')
grouped_name_air_data

### Aggregate the grouped data
summary_stat = grouped_name_air_data.agg(max=('pm2.5_atm', 'max'),
                                                     min=('pm2.5_atm', 'min'),
                                                     mean=('pm2.5_atm', 'mean'),
                                                     median=('pm2.5_atm', 'median'))
### Make sure the students take the mean, median and max of the values of the columns.  
## Summary stats on PM 2.5

summary_stat

,max,min,mean,median
sensor.name,,,,
#16 - Richardson County Courthouse,3782.823313,0.243729,700.127342,11.977344
#17 - Otoe County,37.250062,0.000000,9.755345,7.687563
#18 - Southeast District Health Department- Tecumseh,2987.467563,0.140708,613.175352,10.322875
Ainsworth Public School #9,43.320062,0.089375,10.697058,8.389740
Broken Bow,3205.868854,0.019187,928.710593,36.050240
Buffalo County TRPHD #26,42.225333,0.005896,8.479442,5.698500
ELVPHD Norfolk HD 4,79.972917,0.307896,13.369492,9.706229
ELVPHD Tekamah HD 3,45.881250,0.104938,9.482822,6.418302
ELVPHD Wisner HD 5,51.984812,0.154271,11.154420,8.464583
FCHD-YPS,363.201104,0.013125,9.167842,5.838188
Laurel High School,38.736938,0.080250,8.635639,5.312083
Loup Basin Public Health Department,230.482438,0.034708,8.561095,5.213938
Lower Niobrara NRD Butte 10,45.030938,0.082437,8.041274,5.691250
NCDHD O'Neill #11,2078.873729,0.136958,164.495078,7.251208
PHS Fairbury JCHL 13,52.773958,0.045604,9.405360,6.714948
SWNPHD-Imerial,49.004625,0.001313,6.329091,3.338094
South Heartland District Health Dept. Hastings office,47.330646,0.063292,8.915233,6.251146
South Heartland District Health Dept. Superior City Building,40.539417,0.043271,8.851045,6.844604
Swnphd-Benklemen,188.156771,0.002500,7.501374,4.215375
Swnphd-mccook,3053.114292,0.020000,123.011622,4.582281
Swnphd-ogallala,1320.155667,0.004188,10.396579,3.518510
TRPHD Dawson Co. Courthouse 25,2363.017646,0.033188,18.080629,5.776813
TRPHD Harlan Co. Courthouse 24,42.725625,0.009542,7.927510,5.329063
Three Rivers Public Health Department,51.491208,0.171833,9.601760,6.860375
WCDHD Arthur High School 28,46.354292,0.024729,6.658474,3.921687
WCDHD City Building,32.589521,0.031354,3.971512,2.830708
WCDHD Thedford Library 29,36.138729,0.028396,6.219710,3.288542

Now that we have the aggregated data, let's sort our values to find the top 5 highest means by location.  We create a new dataframe and append the `sort_values()` function, giving it a specific set of arguments to let `.sort_values()` know what to sort `by` and if the order is `ascending` or `descending`.

In [38]:
### Find the top 5 locations with highest mean and median values of each parameter

### PM 2.5 Mean
highest_pm25 = summary_stat.sort_values('mean', axis=0, ascending=False)
highest_pm25.head(5)

## Here is a link to how this code was generated: https://chatgpt.com/share/695e9143-2c74-8000-bed2-06b976fb8e95

,max,min,mean,median
sensor.name,,,,
Broken Bow,3205.868854,0.019187,928.710593,36.050240
#16 - Richardson County Courthouse,3782.823313,0.243729,700.127342,11.977344
#18 - Southeast District Health Department- Tecumseh,2987.467563,0.140708,613.175352,10.322875
NCDHD O'Neill #11,2078.873729,0.136958,164.495078,7.251208
Swnphd-mccook,3053.114292,0.020000,123.011622,4.582281

#### Lab Activity #2: VOC summary
Create an aggregated summary of vocs by the max value.  Print out the first 10 rows of the data set grouped by monitor_index

In [46]:
### Enter your response to Lab Activity #2 in the space below

grouped_index_air_data = air_data.groupby('monitor_index')
voc_summary = grouped_index_air_data.agg(max=('voc', 'max'))

highest_voc = voc_summary.sort_values('max', ascending=False)
highest_voc.head(10)

                       max
monitor_index
195541         1209.931571
194969         1135.473000
195343          884.649000
195379          856.012625
195365          849.734917
195333          842.127417
195327          810.410375
195089          788.161667
195383          780.413792
195345          779.814056

#### Sorting by Dates
Dates can sometimes be difficult to wrangle in Python.  Luckily the AirPurple dataset is a 'clean' dataset which has dates formatted as mm/dd/yy which Python easily recognizes once the `air_data` is in a dataframe.  Let's use `.sort_values()` as above to sort by date.  First we will select only three columns: `date`, `sensor.name` and `voc`.  Then sort by date.

In [52]:
### Apply filters
unhealthy_voc = air_data[air_data['voc']>25].groupby(['date','sensor.name','voc']).agg(max=('voc', 'max'))

## Sort values by date
high_voc_dates = unhealthy_voc.sort_values('date', ascending=True)
high_voc_dates

                                                                  max
date     sensor.name                           voc
01/01/25 #17 - Otoe County                     307.002542  307.002542
         WCDHD Arthur High School 28           380.885625  380.885625
         Three Rivers Public Health Department 268.037042  268.037042
         TRPHD Harlan Co. Courthouse 24        351.267833  351.267833
         TRPHD Dawson Co. Courthouse 25        449.874833  449.874833
...                                                               ...
12/31/24 Broken Bow                            109.645792  109.645792
         Ainsworth Public School #9            177.752167  177.752167
         #17 - Otoe County                     247.865667  247.865667
         PHS Fairbury JCHL 13                  172.725417  172.725417
         WCDHD Arthur High School 28           214.874958  214.874958

[7860 rows x 1 columns]

### Calculating Mode
The mode is most appropriate for categorical variables or values that repeat exactly.Continuous measurements such as VOC or PM concentrations are better summarized using mean, median, or maximum values. But we can calculate mode for their categories. In this example, we are categorizing the `pm2.5_atm` values and using the categories to calculate mode for each `monitor_index`. 

We do not necessarily expect large differences in PM2.5 across locations. This analysis helps us identify whether different typical air-quality conditions are experienced or whether conditions are broadly similar across the network.

In [11]:
# Defining a function for categorizing pm2.5_atm


# Applying this function to the dataset

In [12]:
# grouping by monitor index


# finding the pm2.5_atm category mode

#### Lab Activity #3: Combine Lab 2 and Lab 3
Let's combine everything we've learned about organizing data so far.  In the space below, write code that meets the following requests:
1. Filters for only Warm temperatures
2. Presents the median of the voc concentration
3. Groups the data by sensor altitude
4. Shows only the top 3 rows of data with sensor altitude

In [56]:
### Enter your response to the Lab #3 Activity in the space below

warm_temps = air_data[air_data['temperature_level']=='Warm']
stat_summary = warm_temps.groupby(['sensor.altitude']).agg(median=('voc', 'median')).sort_values('median', ascending=False)
stat_summary.head(3)

                     median
sensor.altitude
3661             359.119833
3220             355.064021
2147             330.492437